---
openapi: "3.0.3"
info:
  title: Fiberplane API
  version: "1.0"
servers:
  - url: https://fiberplane.com/
    description: Production servers
  - url: https://{env}.fiberplane.io/
    description: Non-production servers
    variables:
      env:
        default: dev
        description: Environment
components:
  securitySchemes:
    userToken:
      type: http
      scheme: bearer
    serviceToken:
      type: apiKey
      in: header
      name: fp-service-auth-token
      description: JWT used for authentication between services
  schemas:
    empty: {}
    newNotebook:
      type: object
      required:
        - title
        - timeRange
        - cells
      properties:
        title:
          type: string
        timeRange:
          $ref: "#/components/schemas/newTimeRange"
        cells:
          type: array
          items:
            $ref: "#/components/schemas/cell"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
        selectedDataSources:
          $ref: "#/components/schemas/selectedDataSources"
    cell:
      oneOf:
        - $ref: "#/components/schemas/checkboxCell"
        - $ref: "#/components/schemas/codeCell"
        - $ref: "#/components/schemas/discussionCell"
        - $ref: "#/components/schemas/dividerCell"
        - $ref: "#/components/schemas/graphCell"
        - $ref: "#/components/schemas/headingCell"
        - $ref: "#/components/schemas/imageCell"
        - $ref: "#/components/schemas/listItemCell"
        - $ref: "#/components/schemas/logCell"
        - $ref: "#/components/schemas/providerCell"
        - $ref: "#/components/schemas/tableCell"
        - $ref: "#/components/schemas/textCell"
      discriminator:
        propertyName: type
        mapping:
          checkbox: "#/components/schemas/checkboxCell"
          code: "#/components/schemas/codeCell"
          discussion: "#/components/schemas/discussionCell"
          divider: "#/components/schemas/dividerCell"
          graph: "#/components/schemas/graphCell"
          heading: "#/components/schemas/headingCell"
          image: "#/components/schemas/imageCell"
          list_item: "#/components/schemas/listItemCell"
          log: "#/components/schemas/logCell"
          provider: "#/components/schemas/providerCell"
          table: "#/components/schemas/tableCell"
          text: "#/components/schemas/textCell"
    cellType:
      type: string
      enum:
        - checkbox
        - code
        - discussion
        - divider
        - graph
        - heading
        - image
        - list_item
        - log
        - provider
        - table
        - text
    checkboxCell:
      type: object
      required:
        - type
        - id
        - checked
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        checked:
          type: boolean
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        level:
          type: integer
          format: int32
        readOnly:
          type: boolean
    codeCell:
      type: object
      required:
        - type
        - id
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        content:
          type: string
        readOnly:
          type: boolean
        syntax:
          type: string
    discussionCell:
      type: object
      required:
        - type
        - id
        - threadId
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        readOnly:
          type: boolean
        threadId:
          type: string
    dividerCell:
      type: object
      required:
        - type
        - id
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        readOnly:
          type: boolean
    graphCell:
      type: object
      required:
        - type
        - id
        - dataLinks
        - graphType
        - stackingType
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        dataLinks:
          type: array
          items:
            type: string
        graphType:
          type: string
          enum:
            - bar
            - line
        readOnly:
          type: boolean
        stackingType:
          type: string
          enum:
            - none
            - stacked
            - percentage
    headingCell:
      type: object
      required:
        - type
        - id
        - headingType
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        headingType:
          type: string
          enum:
            - h1
            - h2
            - h3
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        readOnly:
          type: boolean
    listItemCell:
      type: object
      required:
        - type
        - id
        - listType
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        listType:
          type: string
          enum:
            - ordered
            - unordered
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        level:
          type: integer
          format: int32
        readOnly:
          type: boolean
        startNumber:
          type: integer
          format: int32
    providerCell:
      type: object
      required:
        - type
        - id
        - intent
        - title
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        intent:
          type: string
        queryData:
          type: string
        response:
          $ref: "#/components/schemas/encodedBlob"
        output:
          type: array
          items:
            $ref: "#/components/schemas/cell"
        title:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        readOnly:
          type: boolean
    encodedBlob:
      type: object
      required:
        - data
        - mimeType
      properties:
        data:
          type: string
        mimeType:
          type: string
    tableCell:
      type: object
      required:
        - type
        - id
        - rows
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        readOnly:
          type: boolean
        rows:
          $ref: "#/components/schemas/tableRow"
    tableRow:
      type: object
      required:
        - cols
      properties:
        cols:
          type: array
          items:
            $ref: "#/components/schemas/tableColumn"
    tableColumn:
      type: object
      required:
        - text
      properties:
        formatting:
          $ref: "#/components/schemas/formatting"
        text:
          type: string
    logCell:
      type: object
      required:
        - type
        - id
        - dataLinks
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        dataLinks:
          type: array
          items:
            type: string
        readOnly:
          type: boolean
        hideSimilarValues:
          type: boolean
        displayFields:
          type: array
          items:
            type: string
        expandedIndices:
          type: array
          items:
            $ref: "#/components/schemas/logRecordIndex"
        visibilityFilter:
          $ref: "#/components/schemas/logCellVisibility"
        selectedIndices:
          type: array
          items:
            $ref: "#/components/schemas/logRecordIndex"
        highlightedIndices:
          type: array
          items:
            $ref: "#/components/schemas/logRecordIndex"
    logRecordIndex:
      type: object
      required:
        - linkIndex
        - recordIndex
      properties:
        linkIndex:
          type: number
          format: uint8
        recordIndex:
          type: number
          format: uint32
    textCell:
      type: object
      required:
        - type
        - id
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        readOnly:
          type: boolean
    imageCell:
      type: object
      required:
        - type
        - id
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        url:
          type: string
          format: uri
        id:
          type: string
        fileId:
          type: string
        progress:
          type: number
          format: float
        readOnly:
          type: boolean
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        preview:
          type: string
    cellAppendText:
      type: object
      required:
        - content
      properties:
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
    cellReplaceText:
      type: object
      required:
        - offset
        - newText
        - oldText
      properties:
        offset:
          type: integer
          format: int32
        newText:
          type: string
        newFormatting:
          $ref: "#/components/schemas/formatting"
        oldText:
          type: string
        oldFormatting:
          $ref: "#/components/schemas/formatting"
    notebook:
      type: object
      required:
        - id
        - workspaceId
        - revision
        - title
        - cells
        - createdAt
        - createdBy
        - timeRange
        - updatedAt
        - labels
        - selectedDataSources
      properties:
        id:
          type: string
        workspaceId:
          type: string
          format: base64uuid
        revision:
          type: integer
        title:
          type: string
        cells:
          type: array
          items:
            $ref: "#/components/schemas/cell"
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: "#/components/schemas/createdBy"
        readOnly:
          type: boolean
        timeRange:
          $ref: "#/components/schemas/timeRange"
        updatedAt:
          type: string
          format: date-time
        visibility:
          $ref: "#/components/schemas/notebookVisibility"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
        selectedDataSources:
          $ref: "#/components/schemas/selectedDataSources"
    notebookPatch:
      type: object
      properties:
        visibility:
          $ref: "#/components/schemas/notebookVisibility"
    notebookSummary:
      type: object
      required:
        - id
        - workspaceId
        - title
        - createdAt
        - createdBy
        - updatedAt
        - labels
      properties:
        id:
          type: string
        workspaceId:
          type: string
          format: base64uuid
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: "#/components/schemas/createdBy"
        updatedAt:
          type: string
          format: date-time
        visibility:
          $ref: "#/components/schemas/notebookVisibility"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
    logCellVisibility:
      type: string
      enum:
        - all
        - selected
        - highlighted
    notebookVisibility:
      type: string
      enum:
        - public
        - private
    timeRange:
      type: object
      required:
        - from
        - to
      properties:
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
    newTimeRange:
      oneOf:
        - $ref: "#/components/schemas/timeRange"
        - $ref: "#/components/schemas/relativeTimeRange"
    relativeTimeRange:
      type: object
      required:
        - relative
      properties:
        relative:
          type: integer
          format: int32
    formatting:
      type: array
      items:
        $ref: "#/components/schemas/annotation"
    annotation:
      oneOf:
        - $ref: "#/components/schemas/startBoldAnnotation"
        - $ref: "#/components/schemas/endBoldAnnotation"
        - $ref: "#/components/schemas/startCodeAnnotation"
        - $ref: "#/components/schemas/endCodeAnnotation"
        - $ref: "#/components/schemas/startHighlightAnnotation"
        - $ref: "#/components/schemas/endHighlightAnnotation"
        - $ref: "#/components/schemas/startItalicsAnnotation"
        - $ref: "#/components/schemas/endItalicsAnnotation"
        - $ref: "#/components/schemas/startLinkAnnotation"
        - $ref: "#/components/schemas/endLinkAnnotation"
        - $ref: "#/components/schemas/mentionAnnotation"
        - $ref: "#/components/schemas/startStrikethroughAnnotation"
        - $ref: "#/components/schemas/endStrikethroughAnnotation"
        - $ref: "#/components/schemas/startUnderlineAnnotation"
        - $ref: "#/components/schemas/endUnderlineAnnotation"
        - $ref: "#/components/schemas/labelAnnotation"
        - $ref: "#/components/schemas/timestampAnnotation"
      discriminator:
        propertyName: type
        mapping:
          start_bold: "#/components/schemas/startBoldAnnotation"
          end_bold: "#/components/schemas/endBoldAnnotation"
          start_code: "#/components/schemas/startCodeAnnotation"
          end_code: "#/components/schemas/endCodeAnnotation"
          start_highlight: "#/components/schemas/startHighlightAnnotation"
          end_highlight: "#/components/schemas/endHighlightAnnotation"
          start_italics: "#/components/schemas/startItalicsAnnotation"
          end_italics: "#/components/schemas/endItalicsAnnotation"
          start_link: "#/components/schemas/startLinkAnnotation"
          end_link: "#/components/schemas/endLinkAnnotation"
          mention: "#/components/schemas/mentionAnnotation"
          start_strikethrough: "#/components/schemas/startStrikethroughAnnotation"
          end_strikethrough: "#/components/schemas/endStrikethroughAnnotation"
          start_underline: "#/components/schemas/startUnderlineAnnotation"
          end_underline: "#/components/schemas/endUnderlineAnnotation"
          label: "#/components/schemas/labelAnnotation"
          timestamp: "#/components/schemas/timestampAnnotation"
    annotationType:
      type: string
      enum:
        - start_bold
        - end_bold
        - start_code
        - end_code
        - start_highlight
        - end_highlight
        - start_italics
        - end_italics
        - start_link
        - end_link
        - mention
        - timestamp
        - start_strikethrough
        - end_strikethrough
        - start_underline
        - end_underline
    startBoldAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endBoldAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startCodeAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endCodeAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startHighlightAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endHighlightAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startItalicsAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endItalicsAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startLinkAnnotation:
      type: object
      required:
        - type
        - offset
        - url
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
        url:
          type: "string"
    endLinkAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    mentionAnnotation:
      type: object
      required:
        - type
        - offset
        - name
        - userId
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
        name:
          type: "string"
        userId:
          type: "string"
    timestampAnnotation:
      type: object
      required:
        - type
        - offset
        - timestamp
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
        timestamp:
          type: string
          format: date-time
    startStrikethroughAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endStrikethroughAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startUnderlineAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endUnderlineAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    labelAnnotation:
      type: object
      required:
        - type
        - offset
        - key
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
        key:
          type: "string"
        value:
          type: "string"
    instant:
      type: object
      required:
        - metric
        - point
      properties:
        metric:
          $ref: "#/components/schemas/metric"
        point:
          $ref: "#/components/schemas/point"
    series:
      type: object
      required:
        - metric
        - points
        - visible
      properties:
        metric:
          $ref: "#/components/schemas/metric"
        points:
          type: array
          items:
            $ref: "#/components/schemas/point"
        visible:
          type: boolean
    metric:
      type: object
      required:
        - name
        - labels
      properties:
        name:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
    point:
      type: object
      required:
        - timestamp
        - value
      properties:
        timestamp:
          type: number
          format: double
        value:
          type: number
          format: double
    fileSummary:
      type: object
      required:
        - fileId
      properties:
        fileId:
          type: string
    uploadData:
      description: "upload file payload"
      type: object
      required:
        - file
      properties:
        file:
          type: string
          format: binary
    ProfileUploadData:
      description: "upload file payload"
      type: object
      required:
        - picture
      properties:
        picture:
          type: string
          format: binary
    user:
      type: object
      required:
        - "id"
        - "name"
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
    profile:
      type: object
      required:
        - "id"
        - "name"
        - "defaultWorkspaceId"
        - "roles"
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
        defaultWorkspaceId:
          type: string
          format: base64uuid
        email:
          type: string
        roles:
          type: object
          description: "This contains a mapping of the workspace ID and the role that the user has in the workspace"
          additionalProperties:
            $ref: "#/components/schemas/auth_role"
    newPinnedNotebook:
      type: object
      required:
        - notebookId
      properties:
        notebookId:
          type: string
    newProxy:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
    proxySummary:
      type: object
      required:
        - id
        - status
        - name
      properties:
        id:
          type: string
        name:
          type: string
        status:
          $ref: "#/components/schemas/proxyConnectionStatus"
    proxy:
      type: object
      required:
        - id
        - status
        - name
        - dataSources
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        status:
          $ref: "#/components/schemas/proxyConnectionStatus"
        name:
          type: string
        token:
          description: this will only be set when creating a new proxy
          type: string
        dataSources:
          description: data-sources associated with this proxy
          type: array
          items:
            $ref: "#/components/schemas/dataSource"
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    proxyConnectionStatus:
      type: string
      enum:
        - connected
        - disconnected
    dataSourceConnectionStatus:
      type: string
      enum:
        - connected
        - error
    queryType:
      oneOf:
        - $ref: "#/components/schemas/seriesQuery"
        - $ref: "#/components/schemas/instantQuery"
      discriminator:
        propertyName: type
        mapping:
          series: "#/components/schemas/seriesQuery"
          instant: "#/components/schemas/instantQuery"
    seriesQuery:
      type: object
      required:
        - type
        - timeRange
      properties:
        type:
          type: string
        timeRange:
          $ref: "#/components/schemas/timeRange"
    instantQuery:
      type: object
      required:
        - type
        - time
      properties:
        type:
          type: string
        time:
          type: number
          format: double
    newDataSource:
      type: object
      required:
        - name
        - providerType
        - config
      properties:
        name:
          type: string
        providerType:
          type: string
        config:
          type: object
        description:
          type: string
    updateDataSource:
      type: object
      properties:
        description:
          type: string
        config:
          type: object
    dataSource:
      type: object
      required:
        - name
        - providerType
        - id
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
        proxyName:
          type: string
        providerType:
          type: string
        config:
          type: object
        description:
          type: string
        status:
          $ref: "#/components/schemas/dataSourceConnectionStatus"
        error:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    selectedDataSource:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        proxyName:
          type: string
    selectedDataSources:
      type: object
      description: This is a mapping from the provider type to the data source selected for that type
      additionalProperties:
        $ref: "#/components/schemas/selectedDataSource"
    template:
      type: object
      required:
        - id
        - name
        - description
        - body
        - parameters
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        name:
          type: string
          format: name
        description:
          type: string
        body:
          type: string
        parameters:
          type: array
          items:
            $ref: "#/components/schemas/templateParameter"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    templateParameter:
      oneOf:
        - $ref: "#/components/schemas/stringTemplateParameter"
        - $ref: "#/components/schemas/numberTemplateParameter"
        - $ref: "#/components/schemas/booleanTemplateParameter"
        - $ref: "#/components/schemas/objectTemplateParameter"
        - $ref: "#/components/schemas/arrayTemplateParameter"
        - $ref: "#/components/schemas/unknownTemplateParameter"
      discriminator:
        propertyName: type
        mapping:
          string: "#/components/schemas/stringTemplateParameter"
          number: "#/components/schemas/numberTemplateParameter"
          boolean: "#/components/schemas/booleanTemplateParameter"
          object: "#/components/schemas/objectTemplateParameter"
          array: "#/components/schemas/arrayTemplateParameter"
          unknown: "#/components/schemas/unknownTemplateParameter"
    stringTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: string
    numberTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: number
    booleanTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: boolean
    objectTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: object
    arrayTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: array
          items: {}
    unknownTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
    templateParameterType:
      type: string
      enum:
        - string
        - number
        - boolean
        - object
        - array
        - unknown
    templateSummary:
      type: object
      required:
        - id
        - name
        - description
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        name:
          type: string
          format: name
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    newTemplate:
      type: object
      required:
        - name
        - description
        - body
      properties:
        name:
          type: string
          format: name
        description:
          type: string
        body:
          type: string
    updateTemplate:
      type: object
      properties:
        description:
          type: string
        body:
          type: string
    trigger:
      type: object
      required:
        - id
        - title
        - templateId
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        title:
          type: string
        templateId:
          type: string
        secretKey:
          type: string
          description: This key must be passed in the URL to invoke the trigger
        defaultArguments:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    triggerSummary:
      type: object
      required:
        - id
        - title
        - templateId
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        title:
          type: string
        templateId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    newTrigger:
      type: object
      required:
        - title
        - templateName
      properties:
        title:
          type: string
        templateName:
          type: string
          format: name
        defaultArguments:
          type: object
    templateExpandPayload:
      type: object
    triggerInvokeResponse:
      type: object
      required:
        - notebookTitle
        - notebookId
        - notebookUrl
      properties:
        notebookTitle:
          type: string
        notebookId:
          type: string
        notebookUrl:
          type: string
          format: uri
    createdBy:
      oneOf:
        - $ref: "#/components/schemas/createdByUser"
        - $ref: "#/components/schemas/createdByTrigger"
        - $ref: "#/components/schemas/createdByUnknown"
      discriminator:
        propertyName: type
        mapping:
          user: "#/components/schemas/createdByUser"
          trigger: "#/components/schemas/createdByTrigger"
          unknown: "#/components/schemas/createdByUnknown"
    createdByUser:
      allOf:
        - $ref: "#/components/schemas/userSummary"
    createdByTrigger:
      allOf:
        - $ref: "#/components/schemas/triggerSummary"
    createdByUnknown:
      allOf:
        - $ref: "#/components/schemas/empty"
    label:
      type: object
      required:
        - "key"
        - "value"
      properties:
        key:
          type: string
        value:
          type: string
    notebookSearch:
      properties:
        labels:
          description: |
            Search notebooks based on labels. You can search for an exact label
            match by supplying both an key and a value. You can also search for
            all labels that have a specific key by passing passing a key with a
            null value or a empty string value. The notebook's labels needs to
            match _every_ label search that is provided.
          type: object
          nullable: true
          additionalProperties:
            type: string
            nullable: true # this does not seem to have any effect on the generated rust client
    newEvent:
      type: object
      required:
        - "title"
      properties:
        title:
          type: string
        labels:
          type: object # Hash Map
          additionalProperties:
            type: string
            nullable: true
        time:
          type: string
          format: date-time
    newToken:
      type: object
      required:
        - "title"
      properties:
        title:
          type: string
    event:
      type: object
      required:
        - "id"
        - "title"
        - "labels"
        - "occurrenceTime"
        - "createdAt"
        - "updatedAt"
      properties:
        id:
          type: string
          format: base64uuid
        title:
          type: string
        labels:
          type: object # Hash Map
          additionalProperties:
            type: string
        occurrenceTime:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    token:
      type: object
      required:
        - "id"
        - "title"
        - "token"
        - "createdAt"
      properties:
        id:
          type: string
          format: base64uuid
        title:
          type: string
        token:
          type: string
          format: password
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    tokenSummary:
      type: object
      required:
        - "id"
        - "title"
        - "createdAt"
      properties:
        id:
          type: string
          format: base64uuid
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    thread:
      type: object
      required:
        - id
        - items
        - status
        - createdBy
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        items:
          type: array
          items:
            $ref: "#/components/schemas/threadItem"
        status:
          $ref: "#/components/schemas/threadStatus"
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    threadStatus:
      type: string
      enum:
        - "open"
        - "resolved"
    threadSummary:
      type: object
      required:
        - id
        - status
        - itemCount
        - createdBy
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        itemCount:
          type: integer
          format: uint32
        firstItem:
          $ref: "#/components/schemas/threadItem"
        recentItems:
          type: array
          description: Most recent thread items, sorted in chronological order
          items:
            $ref: "#/components/schemas/threadItem"
        status:
          $ref: "#/components/schemas/threadStatus"
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    threadItemType:
      type: string
      enum:
        - "comment"
        - "status_change"
        - "comment_delete"
    threadItem:
      oneOf:
        - $ref: "#/components/schemas/commentThreadItem"
        - $ref: "#/components/schemas/statusChangeThreadItem"
        - $ref: "#/components/schemas/commentDeleteThreadItem"
      discriminator:
        propertyName: type
        mapping:
          comment: "#/components/schemas/commentThreadItem"
          status_change: "#/components/schemas/statusChangeThreadItem"
          comment_delete: "#/components/schemas/commentDeleteThreadItem"
    commentThreadItem:
      allOf:
        - $ref: "#/components/schemas/comment"
        - type: object
          required:
            - type
          properties:
            type:
              $ref: "#/components/schemas/threadItemType"
    comment:
      type: object
      required:
        - id
        - createdBy
        - content
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    statusChangeThreadItem:
      type: object
      required:
        - type
        - id
        - createdBy
        - status
        - createdAt
      properties:
        type:
          $ref: "#/components/schemas/threadItemType"
        id:
          type: string
          format: base64uuid
        status:
          $ref: "#/components/schemas/threadStatus"
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          type: string
          format: date-time
    commentDeleteThreadItem:
      type: object
      required:
        - type
        - id
        - createdBy
        - createdAt
        - deletedAt
      properties:
        type:
          $ref: "#/components/schemas/threadItemType"
        id:
          type: string
          format: base64uuid
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          description: Timestamp when the original comment was created
          type: string
          format: date-time
        deletedAt:
          type: string
          format: date-time
    newThread:
      type: object
      properties:
        id:
          type: string
          format: base64uuid
        comment:
          $ref: "#/components/schemas/newComment"
    newComment:
      type: object
      required:
        - content
      properties:
        id:
          type: string
          format: base64uuid
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
    updateComment:
      type: object
      properties:
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
    userSummary:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
    workspace:
      type: object
      required:
        - id
        - name
        - type
        - createdAt
        - updatedAt
        - defaultDataSources
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
        type:
          type: string
          enum:
            - personal
            - organization
        defaultDataSources:
          $ref: "#/components/schemas/selectedDataSources"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    newWorkspaceInvite:
      type: object
      required:
        - email
        - role
      properties:
        email:
          type: string
        role:
          $ref: "#/components/schemas/auth_role"
    newWorkspace:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        defaultDataSources:
          $ref: "#/components/schemas/selectedDataSources"
    workspace_invite:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: base64uuid
        sender:
          type: string
          format: base64uuid
        receiver:
          type: string
        role:
          $ref: "#/components/schemas/auth_role"
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    update_workspace:
      type: object
      properties:
        name:
          type: string
        owner:
          type: string
          format: base64uuid
        defaultDataSources:
          $ref: "#/components/schemas/selectedDataSources"
    workspace_invite_response:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: url
    workspace_user_update:
      type: object
      properties:
        role:
          $ref: "#/components/schemas/auth_role"
    auth_role:
      type: string
      enum:
        - read
        - write
        - admin
  parameters:
    sortDirection:
      in: query
      name: sort_direction
      description: Sort the resulting list in the following direction (defaults to ascending)
      schema:
        type: string
        enum:
          - "ascending"
          - "descending"
      required: false
    page:
      in: query
      name: page
      description: Page number which should be displayed; 0-indexed (defaults to 0)
      schema:
        type: integer
      required: false
    limit:
      in: query
      name: limit
      description: Maximum amount of results to display per page (defaults to 20)
      schema:
        type: integer
      required: false
    notebookId:
      in: path
      name: notebookId
      required: true
      schema:
        type: string
        format: base64uuid
    workspace_id:
      name: workspace_id
      in: path
      description: The workspace ID
      required: true
      schema:
        type: string
        format: base64uuid
    invitation_id:
      name: invitation_id
      in: path
      description: ID of the invitation for which an action should be executed for
      required: true
      schema:
        type: string
        format: base64uuid
    invitation_secret:
      name: invitation_secret
      in: path
      description: Secret key used to verify that the route belongs to a specific email address
      required: true
      schema:
        type: string
    threadId:
      in: path
      name: threadId
      required: true
      schema:
        type: string
        format: base64uuid
    commentId:
      in: path
      name: commentId
      required: true
      schema:
        type: string
        format: base64uuid
    data_source_name:
      in: path
      name: data_source_name
      required: true
      schema:
        type: string
    proxy_name:
      in: path
      name: proxy_name
      required: true
      schema:
        type: string
    user_id:
      in: path
      name: user_id
      description: User ID
      required: true
      schema:
        type: string
        format: base64uuid
  responses:
    thread:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/thread"
    comment:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/comment"
# Most routes require authentication. The ones
# that do not will specify "security: []"
security:
  - userToken: []
paths:
  /api/workspaces/{workspace_id}/notebooks:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: notebook_list
      description: "List all accessible notebooks"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/notebookSummary"
    post:
      operationId: notebook_create
      description: "Create a new notebook"
      requestBody:
        description: new notebook
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newNotebook"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notebook"
  /api/notebooks/{notebookId}:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    get:
      operationId: notebook_get
      description: "Fetch a single notebook"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notebook"
          description: OK
    delete:
      operationId: notebook_delete
      responses:
        "200":
          description: OK
    patch:
      operationId: notebook_update
      description: "Modifies individual properties of a single notebook"
      requestBody:
        description: updated properties
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/notebookPatch"
      responses:
        "200":
          description: OK
  /api/notebooks/{notebookId}/template.jsonnet:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    get:
      operationId: notebook_convert_to_template
      description: Convert the notebook to a Template
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: OK
  /api/notebooks/{notebookId}/cells:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    post:
      operationId: notebook_cells_append
      description: Append the given cells to the notebook
      requestBody:
        description: Cells to append
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/cell"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/cell"
  /api/notebooks/{notebookId}/cells/{cellId}/append:
    parameters:
      - $ref: "#/components/parameters/notebookId"
      - name: cellId
        in: path
        description: ID of the notebook cell
        required: true
        schema:
          type: string
    post:
      operationId: notebook_cell_append_text
      description: Append the given text and optional formatting to the specified cell
      requestBody:
        description: Content and optional formatting to append
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cellAppendText"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cell"
  /api/notebooks/{notebookId}/cells/{cellId}/replaceText:
    parameters:
      - $ref: "#/components/parameters/notebookId"
      - name: cellId
        in: path
        description: ID of the notebook cell
        required: true
        schema:
          type: string
    post:
      operationId: notebook_cell_replace_text
      description: Replace some text and formatting in the specified cell
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cellReplaceText"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cell"
  /api/notebooks/{notebookId}/threads:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    post:
      operationId: thread_create
      description: Create a new comment thread
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newThread"
      responses:
        "200":
          $ref: "#/components/responses/thread"
    get:
      operationId: threads_list
      description: List the threads in the given notebook
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/threadStatus"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/threadSummary"
  /api/workspaces/{workspace_id}/data_sources:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    post:
      operationId: data_source_create
      description: "Create an workspace data-source"
      requestBody:
        description: New data source
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newDataSource"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dataSource"
    get:
      operationId: data_source_list
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/dataSource"
  /api/workspaces/{workspace_id}/data_sources/{data_source_name}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/data_source_name"
    get:
      operationId: data_source_get
      description: Get the data source's details
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dataSource"
    patch:
      operationId: data_source_update
      description: Update a data source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDataSource"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dataSource"
    delete:
      operationId: data_source_delete
      description: Delete a data source
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/proxies:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: proxy_list
      description: "List all proxies"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/proxySummary"
    post:
      operationId: proxy_create
      description: "Create a new proxy"
      requestBody:
        description: new proxy
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newProxy"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy"
  /api/workspaces/{workspace_id}/proxies/{proxy_name}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
    delete:
      operationId: proxy_delete
      responses:
        "200":
          description: OK
    get:
      operationId: proxy_get
      description: "Retrieve a single proxy"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy"
  /api/workspaces/{workspace_id}/proxies/{proxy_name}/data_sources/{data_source_name}/relay:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
      - $ref: "#/components/parameters/data_source_name"
      - name: provider_protocol_version
        in: query
        required: true
        schema:
          type: string
          enum:
            - "1"
            - "2"
    post:
      operationId: proxy_relay
      description: "Relay a query to a remote proxy"
      requestBody:
        description: Message to send to the proxy
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/notebooks/{notebookId}/files:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    post:
      operationId: file_upload
      description: "upload a file"
      requestBody:
        description: a file
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadData"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fileSummary"
  /api/notebooks/{notebookId}/files/{fileId}:
    parameters:
      - $ref: "#/components/parameters/notebookId"
      - name: fileId
        in: path
        description: ID of the file
        required: true
        schema:
          type: string
    delete:
      operationId: file_delete
      description: "Delete a file"
      responses:
        "200":
          description: OK
    get:
      operationId: file_get
      description: "Get a file"
      # images are accessible to anonymous users for public notebooks
      security: []
      responses:
        "200":
          description: OK
          content:
            image/*:
              schema:
                type: string
                format: binary
  /api/profile:
    get:
      operationId: profile_get
      description: "Fetch the profile of the authenticated user"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/profile"
          description: OK
  /api/profile/picture:
    get:
      operationId: profile_picture_get
      description: "Retrieve profile image"
      # can be unauthenticated
      security: []
      responses:
        "200":
          description: OK
          content:
            image/*:
              schema:
                type: string
                format: binary
    post:
      operationId: profile_picture_update
      description: "Upload profile image"
      requestBody:
        description: a file
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ProfileUploadData"
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/pinnednotebooks:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: pinned_notebook_list
      description: "List all pinned notebooks for a specific workspace"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/notebookSummary"
  /api/pinnednotebooks:
    post:
      operationId: pinned_notebook_create
      description: "Pin a notebook"
      requestBody:
        description: new notebook
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newPinnedNotebook"
      responses:
        "200":
          description: OK
  /api/pinnednotebooks/{notebookId}:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    delete:
      operationId: pinned_notebook_delete
      description: "Unpin a notebook"
      responses:
        "200":
          description: OK
  /api/oidc/authorize/google:
    parameters:
      - name: cli_redirect_port
        in: query
        description: The port on localhost to redirect to after the OAuth flow is successful. Used for authorizing the CLI
        required: false
        schema:
          type: integer
      - name: redirect
        in: query
        description: Relative path to redirect to after the OAuth flow is successful. Used for deep linking into the Studio
        required: false
        schema:
          type: string
    get:
      operationId: oidc_authorize_google
      description: Start the Google OAuth flow to authenticate a user
      responses:
        "307":
          description: Redirect to Google
  /api/logout:
    post:
      operationId: logout
      description: Log out of Fiberplane
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/templates:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    post:
      operationId: template_create
      description: Create a new template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newTemplate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/template"
    get:
      operationId: template_list
      description: List the templates that have been uploaded
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to title)
          schema:
            type: string
            enum:
              - "title"
              - "created_at"
              - "updated_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/templateSummary"
  /api/workspaces/{workspace_id}/templates/{templateName}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - name: templateName
        in: path
        description: Name of the template
        required: true
        schema:
          type: string
          format: name
    get:
      operationId: template_get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/template"
    patch:
      operationId: template_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateTemplate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/template"
    delete:
      operationId: template_delete
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/templates/{templateName}/expand:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - name: templateName
        in: path
        description: Name of the template
        required: true
        schema:
          type: string
          format: name
    post:
      operationId: template_expand
      description: Expand the template into a notebook
      requestBody:
        description: Parameters to pass to the template
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/templateExpandPayload"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notebook"
  /api/workspaces/{workspace_id}/triggers:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: trigger_list
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/trigger"
    post:
      operationId: trigger_create
      description: Create a new trigger
      requestBody:
        required: true
        description: Template URL or body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newTrigger"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trigger"
  /api/triggers/{triggerId}:
    parameters:
      - name: triggerId
        in: path
        description: ID of the trigger
        required: true
        schema:
          type: string
    get:
      operationId: trigger_get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trigger"
    delete:
      operationId: trigger_delete
      responses:
        "200":
          description: OK
  /api/triggers/{triggerId}/{secretKey}:
    parameters:
      - name: triggerId
        in: path
        description: ID of the trigger
        required: true
        schema:
          type: string
      - name: secretKey
        in: path
        description: Secret key of the trigger (included in the response when the trigger is first created)
        required: true
        schema:
          type: string
    post:
      # This does not require normal authentication but uses the secretKey URL parameter
      security: []
      operationId: trigger_invoke
      description: "Invoke a trigger to create a notebook from the associated template"
      requestBody:
        description: Parameters to pass to the template
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/templateExpandPayload"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/triggerInvokeResponse"
  /api/workspaces/{workspace_id}/labels/keys:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: label_keys_list
      description: Retrieve all label keys
      parameters:
        - name: prefix
          in: query
          description: Prefix of the label key
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/workspaces/{workspace_id}/labels/values/{label_key}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - name: label_key
        in: path
        description: The label key
        required: true
        schema:
          type: string
    get:
      operationId: label_values_list
      description: Retrieve all label values for a specific key
      parameters:
        - name: prefix
          in: query
          description: Prefix of the label value
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/workspaces/{workspace_id}/search/notebooks:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    post:
      operationId: notebook_search
      description: Search for notebooks
      requestBody:
        required: true
        description: Notebook search payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/notebookSearch"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/notebookSummary"
  /api/workspaces/{workspace_id}/events:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: event_list
      description: Get a list of all events matching the query
      parameters:
        - in: query
          name: occurrence_time_start
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: occurrence_time_end
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: labels
          schema:
            type: object
            nullable: true
            additionalProperties:
              type: string
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to occurrence_time)
          schema:
            type: string
            enum:
              - "title"
              - "occurrence_time"
              - "created_at"
              - "updated_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/event"
    post:
      operationId: event_create
      description: Creates a new event
      requestBody:
        required: true
        description: Event creation payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newEvent"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event"
  /api/events/{event_id}:
    parameters:
      - name: event_id
        in: path
        description: ID of the event
        required: true
        schema:
          type: string
          format: base64uuid
    delete:
      operationId: event_delete
      description: Deletes a event
      responses:
        "200":
          description: OK
  /api/tokens:
    get:
      operationId: token_list
      description: Gets a list of api tokens
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to title)
          schema:
            type: string
            enum:
              - "title"
              - "created_at"
              - "expires_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/tokenSummary"
    post:
      operationId: token_create
      description: Creates a new token
      requestBody:
        required: true
        description: Token creation payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newToken"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/token"
  /api/tokens/{id}:
    parameters:
      - name: id
        in: path
        description: |
          ID of the token which should be deleted

          # Deleting current token

          If you want to delete the token with which you sent the request, call `/api/logout` instead.
        required: true
        schema:
          type: string
          format: base64uuid
    delete:
      operationId: token_delete
      description: Deletes a token
      responses:
        "200":
          description: OK
  /api/threads/{threadId}:
    parameters:
      - $ref: "#/components/parameters/threadId"
    get:
      operationId: thread_get
      responses:
        "200":
          $ref: "#/components/responses/thread"
    delete:
      operationId: thread_delete
      responses:
        "200":
          description: OK
  /api/threads/{threadId}/resolve:
    parameters:
      - $ref: "#/components/parameters/threadId"
    post:
      operationId: thread_resolve
      responses:
        "200":
          $ref: "#/components/responses/thread"
  /api/threads/{threadId}/reopen:
    parameters:
      - $ref: "#/components/parameters/threadId"
    post:
      operationId: thread_reopen
      responses:
        "200":
          $ref: "#/components/responses/thread"
  /api/threads/{threadId}/comments:
    parameters:
      - $ref: "#/components/parameters/threadId"
    post:
      operationId: comment_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newComment"
      responses:
        "200":
          $ref: "#/components/responses/comment"
  /api/comments/{commentId}:
    parameters:
      - $ref: "#/components/parameters/commentId"
    get:
      operationId: comment_get
      responses:
        "200":
          $ref: "#/components/responses/comment"
    patch:
      operationId: comment_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateComment"
      responses:
        "200":
          $ref: "#/components/responses/comment"
    delete:
      operationId: comment_delete
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/users:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: workspace_users_list
      description: List all users for a workspace
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to id)
          schema:
            type: string
            enum:
              - "name"
              - "email"
              - "joined_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/user"
  /api/workspaces:
    get:
      operationId: workspace_list
      description: List all workspaces authenticated user has access to
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to id)
          schema:
            type: string
            enum:
              - "name"
              - "type"
              - "joined_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/workspace"
    post:
      operationId: workspace_create
      description: Create a new workspace
      requestBody:
        required: true
        description: Workspace creation payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newWorkspace"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
  /api/workspaces/{workspace_id}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: workspace_get
      description: Get the workspace details
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
    patch:
      operationId: workspace_update
      description: "Update workspace settings"
      requestBody:
        required: true
        description: Workspace update payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_workspace"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
    delete:
      operationId: workspace_delete
      description: Delete workspace
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/invitations:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: workspace_invite_get
      description: Get a list of pending workspace invitations
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to id)
          schema:
            type: string
            enum:
              - "id"
              - "sender"
              - "receiver"
              - "created_at"
              - "expires_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/workspace_invite"
    post:
      operationId: workspace_invite
      description: Invite a user to a workspace
      requestBody:
        required: true
        description: Workspace invitation payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newWorkspaceInvite"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace_invite_response"
  /api/invitations/{invitation_id}:
    parameters:
      - $ref: "#/components/parameters/invitation_id"
    delete:
      operationId: workspace_invite_delete
      description: Delete a pending workspace invitation
      responses:
        "200":
          description: OK
  /api/invitations/{invitation_id}/{invitation_secret}/accept:
    parameters:
      - $ref: "#/components/parameters/invitation_id"
      - $ref: "#/components/parameters/invitation_secret"
    post:
      operationId: workspace_invite_accept
      description: "Accept the workspace invitation"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
  /api/invitations/{invitation_id}/{invitation_secret}/decline:
    parameters:
      - $ref: "#/components/parameters/invitation_id"
      - $ref: "#/components/parameters/invitation_secret"
    post:
      operationId: workspace_invite_decline
      description: "Decline the workspace invitation"
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/leave:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    post:
      operationId: workspace_leave
      description: "Leave a workspace"
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/users/{user_id}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/user_id"
    patch:
      operationId: workspace_user_update
      description: Update the user within a workspace
      requestBody:
        description: Workspace user update payload
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/workspace_user_update"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user"
    delete:
      operationId: workspace_user_remove
      description: "Remove a user from the workspace"
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/picture:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: workspace_picture_get
      description: Retrieve workspace image
      security: []
      responses:
        "200":
          description: OK
          content:
            image/*:
              schema:
                type: string
                format: binary
    post:
      operationId: workspace_picture_update
      description: Upload workspace image
      requestBody:
        description: file
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ProfileUploadData"
      responses:
        "200":
          description: OK
